 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            border:2px solid black;
            background-color: gray;
        }
    </style>
 </head>
 <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
     
                 <div class="container">
                <h2 class="mt-5"> Assistant</h2>
                 <h1>Our model said that it is  a {{name}}</h1>
                 <h1>and Nutrients present is {{name}} are following</h1>
                 <p>{{data}}</p>
                 </div>
                 <table>
                    <th>
                         
                         
                    </th>
                </table>
                  
                  
            </div>
            <a href="http://127.0.0.1:5000/">Home</a>
        </div>
    </div>
 </body>
 </html>